:root{
    --light-text: #999999; 
    --less-light-text: black; 
    --pale-purple: #C5B2D1;
    --text-colour: #343434;
}

::selection {
    background: var(--pale-purple);
}

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;

}


body {
    height: 100%;
    font-size: 16px;
    text-align: justify;
    margin: 0;
    max-width: 100%;
}

/* Heading 1 */
h1 {
    color: var(--less-light-text);
    margin: auto;
    padding-right: 20%;
    font-style: bold;
    font-size: 26px;
    text-align: left;
}

/* Heading 2 */
h2 {
    font-weight: bold;
    font-size: 22px;
}

/* Heading 3 */
h3 {
    font-weight: bolder;
    font-style: bold;
    font-size: 18px;
}

p {
    padding-left: 25%;
    padding-right: 25%;
    color: var(--text-colour);
    font-family: 'Open Sans', sans-serif;
}

/* Gets rid of the underline for links */
nav a, nav a:focus, nav a:active, nav a:hover, button:focus {
    border:0;
    outline:none;
    text-decoration:none;
}

/* Navigation bar div (background/format) */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    transition:top 0.3s;
    box-shadow: 0px 0px 15px 0px var(--light-text);
    background-color: white;
    color: var(--light-text);
}

/* Specifically the nav bar LINKS (a elements) */
.nav-link {
    font-size: 22px;
    list-style-type: none;
    color: var(--light-text);
    font-weight: bold;
    text-align: right;
    padding-left: 35px;
    text-decoration: none;
}


/* List of links (ul element) */ 
.links {
    list-style-type: none;
    margin: 0;
    padding-top: 16px;
    padding-right: 25%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

/* Navbar name and Title class */ 
.navbar-name, .title {
    color: var(--less-light-text);
}

.navbar-name {
    float: left;
    padding-left: 25%;
    pointer-events: none;
}

/* Nav bar title and links */
.nav a {
    display: inline;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--light-text);
}


/* Site intro */
.hello {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 120px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.title, .description, .contact {
    padding-left: 25%;
    padding-right: 25%;
}

.email {
    color: var(--light-text);
}

.email:hover {
    color: var(--less-light-text);
}

#projects, #awards, #skills, .return {
    padding-top: 50px;
}

.projectcats:hover {
    background: var(--light-text);
}

.date {
    color: var(--light-text);
}

.description a, .return a {
    text-decoration: none;
    color: var(--less-light-text);
}

.description a:hover, .return a:hover {
    color:var(--light-text)
}

#about-on-about, .nav-link:hover {
    text-decoration: underline;
}

#temp {
    padding-left: 25%;
    padding-right: 0%;
    padding-top: 150px;
}

.contact {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 40px;
}

.contact a {
    margin-right: 25px;
}
